* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
/*Sayfa Temel Bileşenler*/
html, body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    background-color: gray;
    color: white;
    min-height: 100vh;
    max-width: 1024px;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    z-index: 0;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 50px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 0.568);
}
/*Sayfa Temel Bileşenler*/
/*------------------------------------------------------------*/
/*Başlık Bölümü*/
#header {
    height: 50px;
    max-width: 100%;
    width: 1920px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.534);
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(30px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.137);
    transition: all 0.3s ease-in-out;
}
#menuBtn{
    background-color: transparent;
    width: 35px;
    height: 35px;
    padding: 5px 7px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(-0%, -50%);
    font-size: 22px;
    border-radius: 50px;
}
#menuBtn:hover{
    background-color: rgba(255, 255, 255, 0.11);
    cursor: pointer;
}
#menuBtn:active{
    background-color: rgba(255, 255, 255, 0.192);
}
#logarea{
    background-color: transparent;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3px 8px;
    border: 1px solid rgba(255, 255, 255, 0.233);
    color: rgba(255, 255, 255, 0.233);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
#logarea:hover{
    color: white;
    border: 1px solid white;
}
#rightTools{
    width: 100px;
    max-width: 100px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(-0%, -50%);
    border: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
#themes{
    border: none;
    font-size: 18px;
    padding: 7px 10px;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.137);
    color: white;
    transition: all 0.2s ease-in-out;
}
#themes:hover{
    background-color: rgba(255, 255, 255, 0.377);
}
#language{
    border: none;
    font-size: 18px;
    padding: 7px 10px;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.137);
    color: white;
    transition: all 0.2s ease-in-out;
}
#language:hover{
    background-color: rgba(255, 255, 255, 0.404);
}
#language:focus{
    background-color: rgba(255, 255, 255, 0.445);
}
#languageBox{
    width: 140px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 18px;
    top: 52px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    padding: 10px;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
ul{
    width: fit-content;
    background-color: transparent;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.flag{
    width: 20px;
}
li{
    font-size: 18px;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
}
li:hover{
    background-color: rgba(255, 255, 255, 0.116);
}
/*Başlık Bölümü*/
/*------------------------------------------------------------*/
/*İçerik Bölümü*/
#container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 1500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.897);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
#menuBox{
    width: 1920px;
    max-width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.326);
    position: sticky;
    transform: translateX(0px);
    transition: all 0.3s ease-in-out;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.137);
    opacity: 0;
    z-index: 999;
    margin-top: -50px;
}
.campany{
    width: fit-content;
    background-color: transparent;
    margin-left: 15px;
    font-size: 24px;
    padding: 0;
    font-weight: 500;
    position: relative;
    left: 50%;
    top: 3px;
    transform: translate(-50%);
    margin: 0;
}
#animateArea{
    width: 1020px;
    max-width: 98%;
    background-color: gray;
    height: fit-content;
    max-height: 500px;
    position: relative;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    border-radius: 20px;
    object-fit: cover;
    display: inline-flex;
    background-size: 100%;
    overflow: hidden;
    align-items: center;
}
.format{
    width: 100%;
    height: fit-content;
    animation: animate 5s ease-in-out infinite;
}
 @keyframes animate{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-1010px);
    }
} 
#menuContent{
    width: 1024px;
    max-width: 98%;
    height: fit-content;
    background-color: transparent;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}
.block{
    background-color: rgb(133, 133, 133);
    height: 200px;
    border-radius: 20px;
}
/*İçerik Bölümü*/
#footer {
    height: 50px;
    max-width: 1920px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(30px);
    border-top: 1px solid rgb(255, 255, 255);
}

/*RESPONSİVE BREAK POİNT*/
@media only screen and (max-width: 375px) {
    #rightTools{
        display: none;
    }
}